################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/6/.vs/Csharp6features
/6/Read-only auto-properties/obj
/06/.vs/Csharp6features/v16
/06/Read-only auto-properties/obj
